/* add facility step1 */
    .facilitykyc h4{
        font-size: 17px;
        font-weight: 600;
        display: inline-block;
    }
    .facilitykyc .firstbox{
        position: relative;
    }
    .facilitykyc .firstbox svg{
        position: absolute;
        right: -35px;
        color: #1862d7;
    }
    .justify-content-spacebetween{
        justify-content: space-between;
    }
    .facilitykyc .content{
        height: calc(100% - 30px);
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0 !important;
        background-blend-mode: soft-light, normal !important;
        border: 1px solid rgba(255, 255, 255, 0.4) !important;
        box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd !important;
        border-radius: 40px !important;
    }
    .facilitykyc .titleimg{
        width: 15px;
        margin-right: 10px;
    }
    .facilitykyc .title{
        margin-left: 15px;
        height: 30px;
    }
    .facilitykyc .orgcon{
        width: 40%;
        margin:auto;
        display: flex;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .facilitykyc .imgshow{
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
        background-blend-mode: soft-light, normal;
        box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
        border-radius: 25px;
        width: 140px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }
    .facilitykyc .imgshow img{
        height: 45px;
        margin-top: 17px;
    }
    .facilitykyc .imgshow p{
        font-size: 16px;
        font-weight: 600;
        color: #1862d7;
        line-height: 1.2;
    }
    .facilitykyc .add-btn {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
    135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
        border-radius: 40px;
        color: #0067E5;
    }
    .facilitykyc .add-button {
        display: flex;
        align-items: baseline;
        border: 2px dashed #ACAAC2;
        border-radius: 30px;
        padding: 3px 10px;
    }
    .add-icon {
        font-size: 12px;
    }
    .add-button span {
        color: #adafb1;
        margin-right: 20px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
    }
    .facilitykyc .addfac{
        color: rgba(0, 98, 215, 1);
        font-size: 13px;
        font-weight: 500;
    }
    .facilitykyc .clickadd{
        color: #1862d7;
        font-size: 12px;
        font-weight: 600;
    }
    .facilitykyc .clickadd svg{
        margin-right: 10px;
        font-size: 17px;
    }
    .facilitykyc .btn-back {
        width: unset !important;
        padding: 2px 20px;
        background: rgba(204, 204, 204, 1);
        box-shadow: -4px -4px 16px 2px rgb(255 255 255 / 79%), 4px 4px 16px #b8cad8;
        border-radius: 8px;
        color: #fff;
        font-size: 14px;
    }
    button.btn.btn-back.mx-2.back.float-start svg {
        font-size: 26px;
        margin-left: -18px;
    }
    button.btn.btn-back.mx-2.next.float-end svg {
        font-size: 26px;
        margin-right: -18px;
    }
    .btn-default {
        background: #FFFFFF;
        box-shadow: -4px -4px 16px 2px rgb(255 255 255 / 79%), 4px 4px 16px #b8cad8;
        border-radius: 8px;
        color: rgba(65, 74, 103, 1);
        font-size: 13px;
    }
    .remove {
        position: relative;
    }
    .remove:after {
        content: " ";
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        height: 38px;
        width: 2px;
        top: 0px;
        right: -28px;
    }
    .btn-default.save {
        background: #3CD070;
        color: #fff;
    }
    .btn-back:disabled {
        background: silver;
    }
    .float-start {
        float: left!important;
    }
    .typefacility{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .typefacility .facility img{
    height: 60px;
    }
    .typefacility .facility{
        position: relative;
        background: linear-gradient( 
            135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
        background-blend-mode: soft-light, normal;
        box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
        border-radius: 25px;
        padding: 22px;
        width: 125px;
    }
    .typefacility .facility svg{
        position: absolute;
        background: linear-gradient(
    135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
        border-radius: 40px;
        padding: 6px;
        font-size: 22px;
        right: 9px;
        top: 9px;
    }

/* add facility step1 */

/* add facility step3 */

    .box{
        background: linear-gradient(
            317.7deg
            , rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
                background-blend-mode: soft-light, normal;
                border: 1px solid rgba(255, 255, 255, 0.4);
                box-sizing: border-box;
                box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
                border-radius: 10px;
                width: 100%;
                height: 600px;
                outline: none;
                padding-left: 55px;
                position: relative;
                height: calc(100% - 70px);
    }
    .scroll{
        height: 100%;
    }
    .facility1 img{
        width: 16px;
        /* margin-left: 30px; */
        align-items: baseline;
    }
    .facility1{
        margin-bottom: 5px;
        color: #1b77e1;
    }
    .crossicon{
        background: #EBECF0;
        border: 1px solid rgba(235, 236, 240, 0.4);
        box-sizing: border-box;
        box-shadow: -5px -5px 10px #fafbff;
        border-radius: 20px;
        padding: 11px 10px;
        width: 60px;
        position: absolute;
        right: 4%;
        top: 11%;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .facility1 p {
        margin-left: 10px;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .form-control{
        height: 40px;
        width: 110px !important;
        padding: 0px 15px;
        background-color: transparent;
        border-radius: 40px !important;
        background: linear-gradient(
    317.7deg
    , rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
        outline: none;
    }
    .leftmenu button{
        background-color: #3CD070;
        color: #fff;
        border: transparent;
        border-radius: 8px;
    }
    .leftmenu button:hover{
        background-color: #3CD070;
        color: #fff;
    }
    .iot_switch{
        display: flex;
    }
    .iot_switch p{
        margin-right: 5px;
    }
    .reset_switch{
        background-color: #0062D7 !important;
    }
    .machine_items{
        margin: 10px;
        background: linear-gradient(
    135.37deg
    , rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
        background-blend-mode: soft-light, normal;
        box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
        border-radius: 25px;
        width: 130px;
        padding: 10px;
        justify-content: space-between;
    }
    .plusIcon{
        margin-top: 15px !important;
        margin-bottom: 10px;
        align-items: center;
        /* margin-left: 15px; */
    }
    .plusIcon p{
        margin: 5px 7px 0 15px;
        font-size: 12px;
        color: #1b77e1;
        font-weight: 500;
    }
    .plusIcon img{
        padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    }

    .summary{
        position: absolute;
        top: 30px;
        right: 50px;
        opacity: 0.6;
    }
    .summary a{
        background: #CCCCCC;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
        border-radius: 8px;
    }
    .summary svg{
        width: 23px;
        height: 30px;
    }
    .bottombtn{
        position: fixed;
        bottom: 50px;
    }
    .bottom_text h6{
        margin-left: 10px;  
        margin-bottom: 0;
        color: #0068E5;
        font-size: 12px;
        margin-top: 5px;
    }
    /* Model */
    .info-icon{
        font-size: 22px;
        color: #0068E5;
    }
    .input-box {
        width: 100%;
        height: 40px;
        padding: 5px 30px;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
        border-radius: 40px;
        outline: none;
        color: #0067E5;
        font-size: 14px;
        margin-bottom: 15px;
    }
    .input-box.add{
        width: 30%;
        margin-right: 15px;
    }
    input::placeholder{
        color: rgba(172, 170, 194, 1);
    }
    .custom-select select {
        display: block !important;
        background: linear-gradient(
    135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
        border-radius: 40px;
        width: 100%;
        height: 40px;
        padding: 5px 30px;
        margin-bottom: 15px;
    }
    .css-1ks0iez-control{
        padding-left: 21px;
    }
    .facilityform h3 {
        font-size: 14px;
        font-weight: 400;
    }
    .days .time{
        font-size: 12px;
        white-space: nowrap;
        margin-left: 11px;
    }
    .facilityform .btn-back {
        width: unset !important;
        padding: 2px 20px;
        background: rgba(204, 204, 204, 1);
        box-shadow: -4px -4px 16px 2px rgb(255 255 255 / 79%), 4px 4px 16px #b8cad8;
        border-radius: 8px;
        color: #fff;
        font-size: 14px;
        position: relative;
    }
    button.btn.btn-back.mx-2.back.float-start svg {
        font-size: 26px;
        margin-left: -18px;
    }
    .btn-default {
        background: #FFFFFF;
        box-shadow: -4px -4px 16px 2px rgb(255 255 255 / 79%), 4px 4px 16px #b8cad8;
        border-radius: 8px;
        color: rgba(65, 74, 103, 1);
        font-size: 13px;
        position: relative;
    }
    .remove:after {
        content: " ";
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        height: 38px;
        width: 2px;
        top: 0px;
        right: -28px;
    }
    button.btn.btn-back.mx-2.next.float-end svg {
        font-size: 26px;
        margin-right: -18px;
    }
    svg.calender {
        color: #1c80e4;
        margin-top: -20px;
        margin-left: 11px;
        font-weight: 600;
    }
    .savebtn button{
        color: white;
        background-color: #3CD070;
        border: 1px solid #3CD070;
        padding: 3px 15px;
        border-radius: 5px;
    }

/* add facility step3 */

/* add facility step5 */

    .facility img{
        width: 16px;
        margin-left: 30px;
        align-items: baseline;
    }
    .facility{
        margin-bottom: 20px;
    }
    .facility p {
        margin-left: 10px;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .summary{
        position: absolute;
        top: 30px;
        right: 50px;
    }
    .summary a{
        box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
    border-radius: 8px;
    }
    .summary svg{
        width: 23px;
        height: 30px;
    }
    .box{
        background: linear-gradient(
            317.7deg
            , rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
        border-radius: 40px;
        width: 100%;
        height: 650px;
        outline: none;
        padding-left: 55px;
        position: relative;
    }
    .box_buttons a{
        margin: 10px;
        background: linear-gradient( 
    135.37deg
    , rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
        background-blend-mode: soft-light, normal;
        box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
        border-radius: 14px;
        width: 230px;
        padding: 10px;  
    }
    .box_buttons a:focus{
    background-color: #0068E5;  
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #0062D7;
    border: transparent;
    color: #fff;
    }
    .circle{
        border-radius: 50%;
        background: #fff;
        color: #1862d7;
        text-align: center;
        position: absolute;
        right: 4px;
        width: 25px;
        height: 25px;
        top: 2px;
        box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.35);
    }
    .box_content{
        height: 400px;
    }
    .box_content p{
        margin: 0;
        opacity: 0.5;
    }
    .box_content im{
        border-radius: 5px;
    }
    .left_content{
        margin-right: 40px;
    }
    .right_content img{
        width: 65%;
    }
    .address_icon{
        margin-right: 5px;
    }

    .address_line p{
        margin: 0;
        font-size: 11px;
    }
    .right_column{
        margin-top: 30px;
        padding: 20px;
    }
    .form-control{
        height: 40px;
        padding: 0px 15px;
        background-color: transparent;
        border-radius: 40px;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
        outline: none;
    }
    .form-control:focus{
        box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
        border: unset;
        outline: none;
    }
    .input_file{
        width: 80%;
    }
    .input_multifile .form-control{
        width: 25%;
    }
    .react-date-picker{
        margin: 0 !important;
    }
    .input-date{
        width: 100%;
        height: 40px;
        padding: 5px 15px;
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
        border-radius: 40px;
        outline: none;
        color: #0067E5;
        font-size: 14px;
    }

    .plusIcon p{
        margin: 5px 7px 0 15px;
        font-size: 12px;
    }
    .plusIcon img{
        padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px;
    border-radius: 50%;
    }
    .remove {
        position: relative;
        background: #FFFFFF;
    box-shadow: -4px -4px 16px 2px rgba(255, 255, 255, 0.79), 4px 4px 16px #B8CAD8;
    border-radius: 8px;
    }

    .remove:after {
        content: ' ';
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        height: 38px;
        width: 2px;
        top: 0px;
        right: -28px;
    }
    .save{
        background: #FFFFFF;
        box-shadow: -4px -4px 16px 2px rgba(255, 255, 255, 0.79), 4px 4px 16px #B8CAD8;
        border-radius: 8px;
    }
    .bottom_switch{
        margin: 100px 0 0 160px;
    }

    .file-upload label.label-file {
        display: inline-block;
        width: 100%;
        height: 40px;
        padding: 0px 15px;
        line-height: 40px;
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #ebecf0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
        border-radius: 40px;
        outline: none;
        color: unset;
        position: static;
        font-size: 14px;
    }
    .file-upload label.label-file {
        width: 650px;
    }
    .file-upload label {
        position: absolute;
        right: -25px;
        height: 40px;
        line-height: 40px;
        color: #0062D7;
        cursor: pointer;
    }
    .fileupload_inner{
        left: 25px;
        color: #ACAAC2 !important;
        width: 34%;
    }
    .summary{
        position: absolute;
        top: 30px;
        right: 50px;
    }
    .summary a{
        box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
    border-radius: 8px;
    }
    .summary svg{
        width: 23px;
        height: 30px;
    }

    /* Model */
    .esg .modal-lg{
        max-width: 70vw;
    }
    .modal-content{
        width: 50%;
    }
    .modal-header{
        border-bottom: none;
    }
    .esg-content{
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
        background-blend-mode: soft-light, normal;
        box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
        border-radius: 20px;
    }
    .esg .modal-header .btn-close {
        position: absolute;
        top: -30px;
        right: 0px;
        outline: none;
        box-shadow: none;
    }
    .esg .modal-header .btn-close:active {
        box-shadow: none;
        outline: none;
    }
    .esg .modal-body {
        padding: 0px 40px;
        height: 500px;
    }
    .esg .modal-body .header_discription .info-icon{
        font-size: 22px;
        color: #0068E5;
    }
    .esg .modal-body .header_discription p{
        font-size: 11px;
        font-weight: 500;
        color: #0068E5;
        margin: 3px 0 0 6px;
    }
    .modal-dialog{
        justify-content: center;
    }
    .esg_model_body{
        color: #0062D7;
    }
    .esg_model_body svg{
        width: 50%;
        height: 50%;
    }
    .esg_model_body p{
        font-size: 12px;
        margin-top: 10px;
    }

/* add facility step5 */

/* add facility modal */
    body{
        font-family: poppins;
    }

    .facilitymodal {
        background: #c7d4df;
        
    }
    .facilitymodal .modal-lg{
        max-width:55vw;
    }
    .facilitymodal  .modal-content {
        /* background: linear-gradient(
            135.37deg,
            rgba(0, 0, 0, 0.4) 4.29%,
            rgba(255, 255, 255, 0.4) 95.6%
            ),
            rgba(235, 236, 240, 0.7); */
        background-color: #e6e7eb;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: 8px 4px 14px rgb(0 0 0 / 11%), inset 6px 5px 35px rgb(255 255 255 / 60%);
        backdrop-filter: blur(12px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 35px;
        /* height: 70vh; */
    }
        
        
    .facilitymodal .modal-header {
        border-bottom: 0px;
    }
        
        
    .facilitymodal  .modal-header .btn-close {
        position: absolute;
        top: -23px;
        right: 0px;
        outline: none;
        box-shadow: none;
    }
        
        
    .facilitymodal  .modal-header .btn-close:active {
        box-shadow: none;
        outline: none;
    }
        
        
    .facilitymodal  .modal-body {
        /* text-align: center; */
        /* justify-content: center; */
        padding: 0px 40px 0 60px;
    }
        
    .facilitymodal  .modal-body .header_discription  {
        /* position: relative; */
        display: flex;
        margin-bottom: 0px;
    }
    .facilitymodal  .modal-body .header_discription .info-icon{
            font-size: 22px;
            color: #0068E5;
    }
    .facilitymodal .modal-body .header_discription p{
        font-size: 16px;
        font-weight: 600;
        color: #0068E5;
        margin: 3px 0 20px 6px;
    }
    .facilitymodal .modal-body .discription{
        font-size: 16px;
        color: #0068E5;
        /* margin-left: 28px; */
    }


    .scrollbar-container {
        position: relative;
        height:65vh !important;
        margin:0px 0px 20px 0px;
        padding-right: 20px;
        overflow-x: hidden;
    }

    .facilitymodal .facilitymod{
        display: flex;
        flex-wrap: wrap;
    }
    .facilitymodal .leftmenu {
        flex: 0 0 300px;
        max-width: 300px;
    }
    .facilitymodal .rightmenu {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% - 300px);
        max-width: calc(100% - 300px);
    }
    .facilitymodal .infor svg{
        margin-right: 15px;
    }
    .facilitymodal .infor span{
        display: inline-flex;
    }
    .facilitymodal .clrblue{
        color: #0068E5;
    }
    .facilitymodal h5{
        margin: 23px 0 30px 0;
        font-weight: 600;
    }

/* add facility modal */