.facility img{
    width: 16px;
    margin-left: 30px;
    align-items: baseline;
}
.facility{
    margin-bottom: 20px;
}
.facility p {
    margin-left: 10px;
    margin-bottom: 0;
    margin-right: 10px;
}
.summary{
    position: absolute;
    top: 30px;
    right: 50px;
}
.summary a{
    box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
border-radius: 8px;
}
.summary svg{
    width: 23px;
    height: 30px;
}
.box{
    background: linear-gradient(
        317.7deg
        , rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
            background-blend-mode: soft-light, normal;
            border: 1px solid rgba(255, 255, 255, 0.4);
            box-sizing: border-box;
            box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
            border-radius: 40px;
            width: 100%;
            height: 550px;
            outline: none;
            padding-left: 55px;
            position: relative;
}
.box_buttons a{
    margin: 10px;
    background: linear-gradient( 
135.37deg
 , rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
    background-blend-mode: soft-light, normal;
    box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
    border-radius: 14px;
    width: 230px;
    padding: 10px;  
}
.box_buttons a:focus{
background-color: #0068E5;  
background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #0062D7;
border: transparent;
color: #fff;
}
.box_content {
    margin-top: 60px;
    margin-left: 295px;
}
.box_content im{
    border-radius: 5px;
}
.left_content{
    margin-right: 40px;
}
.right_content img{
    width: 65%;
}
.address_icon{
    margin-right: 5px;
}

.address_line p{
    margin: 0;
    font-size: 11px;
}
.right_column{
    margin-top: 30px;
    padding: 20px;
}
.form-control{
    height: 40px;
        padding: 0px 15px;
        background-color: transparent;
        border-radius: 40px;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
        outline: none;
}
.form-control:focus{
        box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
        border: unset;
        outline: none;
}
.input_file{
    width: 80%;
}
.input_multifile .form-control{
    width: 25%;
}

.plusIcon p{
    margin: 5px 7px 0 15px;
    font-size: 12px;
}
.plusIcon img{
    padding: 4px;
border: 1px solid rgba(255, 255, 255, 0.4);
box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px;
border-radius: 50%;
}
.remove {
    position: relative;
    background: #FFFFFF;
box-shadow: -4px -4px 16px 2px rgba(255, 255, 255, 0.79), 4px 4px 16px #B8CAD8;
border-radius: 8px;
}

.remove:after {
    content: ' ';
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    height: 38px;
    width: 2px;
    top: 0px;
    right: -28px;
}
.save{
    background: #FFFFFF;
    box-shadow: -4px -4px 16px 2px rgba(255, 255, 255, 0.79), 4px 4px 16px #B8CAD8;
    border-radius: 8px;
}
.bottom_switch{
    margin: 100px 0 0 160px;
}