.leftmenu{
    flex: 0 0 300px;
    max-width: 300px;
    margin-top: 75px;
}
.rightmenu{
    flex: 0 0 calc(100% - 300px);
    max-width: calc(100% - 300px);
}

.manpower_input .form-control{
    height: 40px;
        padding: 0px 15px;
        background-color: transparent;
        border-radius: 40px;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
        outline: none;
}
.manpower_input input:focus{
        box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
        border: unset;
        outline: none;
}
.leftmenu .submit_switch{
    background-color: #3CD070 !important;
    color: #fff;
    border: transparent !important;
    border-radius: 8px;
    margin-top: 20px;
}
.leftmenu button:hover{
    background-color: #3CD070 !important;
    color: #fff;
}
.box{
    background: linear-gradient(
        317.7deg
        , rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
            background-blend-mode: soft-light, normal;
            border: 1px solid rgba(255, 255, 255, 0.4);
            box-sizing: border-box;
            box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
            border-radius: 40px;
            width: 100%;
            height: 500px;
            outline: none;
            padding-left: 55px;
            position: relative;
}
.facility img{
    width: 16px;
    margin-left: 30px;
    align-items: baseline;
}
.facility{
    margin-bottom: 20px;
}
.facility p {
    margin-left: 10px;
    margin-bottom: 0;
    margin-right: 10px;
}
.summary{
    position: absolute;
    top: 30px;
    right: 50px;
}
.summary a{
    box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
border-radius: 8px;
}
.summary svg{
    width: 23px;
    height: 30px;
}
.bottom_text h6{
    margin-left: 10px;  
    margin-bottom: 0;
    color: #0068E5;
    font-size: 12px;
    margin-top: 5px;
}
.box_buttons a{
    margin: 10px;
    background: linear-gradient( 
135.37deg
 , rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
    background-blend-mode: soft-light, normal;
    box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
    border-radius: 14px;
    width: 170px;
    padding: 10px;  
}
.box_buttons a:focus{
background-color: #0068E5;  
background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #0062D7;
border: transparent;
color: #fff;
}
.manpower_items{
    margin: 10px;
    background: linear-gradient(
135.37deg
, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
    background-blend-mode: soft-light, normal;
    box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
    border-radius: 25px;
    width: 130px;
    padding: 10px;
    justify-content: space-between;
}

.manpower_items h3{
    margin: 0;
    font-size: 14px;
    padding: 2px 0px;
    background-color: #0062D7;
    color: white;
    margin-right: -9px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 50px;
    height: 20px;
    text-align: center;
}
.manpower_image{
    justify-content: space-between;
    margin-top: 10px;
}
.manpower_items p{
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
    color: #0062D7;
}
.manpower_items_text{
    margin-top: 25px;
    margin-left: 15px;
    color: #0062D7;
}
.manpower_reset{
    margin-top: 200px;
}
.manpower_plus{
    margin-top: 15px !important;
    margin-bottom: 10px;
    margin-left: 15px;
}
.manpower_plus p{
    margin: 5px 7px 0 15px;
    font-size: 12px;
}
.manpower_plus img{
    padding: 4px;
border: 1px solid rgba(255, 255, 255, 0.4);
box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px;
border-radius: 50%;
}