.required{
    color: red;
}

input::-webkit-input-placeholder{
    color: #ACAAC2;
}

.logo-img{
    width: 140px;
    /* height: 100px; */
    border-radius: 10px;
}
.input-box{
    width: 100%;
    height: 40px;
    padding: 5px 30px;
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
    border-radius: 40px;
    outline: none;
    color: #0067E5;
    font-size: 14px;
}

.select-box{
    width: 100%;
    height: 40px;
    padding: 5px 30px;
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
    border-radius: 10px;
    outline: none;
    color: #0067E5;
}

.input-date{
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
    border-radius: 40px;
    outline: none;
    color: #0067E5;
    font-size: 14px;
}

input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator   {
    -webkit-appearance: none;
    opacity: 0;
    width: 50%;
}
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,input[type="date"]::-webkit-datetime-edit-year-field {
    text-transform: uppercase;
}
select::-ms-expand{
    margin-right: 30px;
}

.file-upload label.label-file {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    line-height: 40px;
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #ebecf0;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
    border-radius: 40px;
    outline: none;
    color: unset;
    position: static;
    font-size: 14px;
}
.file-upload label.label-file {
    width: 100%;
}
.file-upload label {
    position: absolute;
    right: -25px;
    height: 40px;
    line-height: 40px;
    color: #0062D7;
    cursor: pointer;
}
.submit-form{
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #0062D7;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
    border-radius: 40px;
    width: 150px;
    height: 40px;
    color: white;
}


#settings-tab-tabpane-entity , #settings-tab-tabpane-businessHours , #settings-tab-tabpane-taxRegistraton ,#settings-tab-tabpane-rating{
    height: 100%;
}
.businesshour .form-bh h3 {
    font-size: 14px;
    font-weight: 400;
}
.main-content-parent{
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0 !important;
    background-blend-mode: soft-light, normal !important;
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
    box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd !important;
    border-radius: 40px !important;
}
.custom-select select {
    display: block !important;
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
    border-radius: 40px;
    width: 100%;
    height: 40px;
    padding: 5px 30px;
}
.summarybtn{
    width: 125px;
    margin-right: 40px;
    background: #CCCCCC;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
    border-radius: 8px;
    padding: 10px 10px;
}
.justify-content-space-between{
    justify-content: space-between;
}
.CompanyLink h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500 !important;
    font-size: 19px !important;
    line-height: 45px;
    color: #566180;
}
.ratinglink h3{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500 !important;
    font-size: 19px !important;
    line-height: 45px;
    color: #566180;
}        
.add-button .add-btn{
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient( 
    135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
        border-radius: 40px;
        color: #0067E5;
}
.add-button .add-btn svg{
    font-size: 12px;
}
select{
    color: #636d8d;
    font-weight: 400;
}


