input
{
    &.form-control{
        height: 40px;
        padding: 0px 15px;
        background-color: transparent;
        border-radius: 40px;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
        outline: none;
        &:focus{
            box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
            background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
            border: unset;
            outline: none;
        }
    }
}

.capacity{
    .sec1{
        flex: 0 0 250px;
        max-width: 250px;
        padding: 0px 10px;
        .product-item-parent{
            height: calc(100% - 56px);
            .product-item{
                &.scroll{
                    flex: 0 0 calc(100% - 160px);
                    max-height: calc(100% - 160px);
                }
                h2{
                    font-size: 20px;
                    font-weight: 600;
                }
                ul{
                    height: calc(100% - 56px);
                    overflow: auto;
                    li{
                        list-style-type: none;
                        .item{
                            border-bottom: 1px solid #B8CAD8;
                            background: rgba(184, 202, 216, 0.15);
                            .item-name{
                                padding: 0px 0px 0px 15px;
                                height: 40px;
                                flex: 0 0 calc(100% - 50px);
                                max-width: calc(100% - 50px);
                            }
                            .arrow{
                                flex: 0 0 50px;
                                max-width: 50px;
                                text-align: center;
                            }
                        }
                    }
                }
                .accordion{
                    .accordion-item{
                        background-color: transparent;
                        border: none;
                        .accordion-header{
                            button{
                                &.accordion-button{
                                    border-bottom: 1px solid #B8CAD8;
                                    background: #e1e4ea;
                                    padding: 10px;
                                    box-shadow: none;
                                    color: unset;
                                }
                                &:after{
                                    transform: rotate(-90deg);
                                    width: 1rem;
                                    height: 1rem;
                                    background-size: contain;
                                }
                                &:not(.collapsed){
                                    background-color: #0062D7;
                                    color: white;
                                    &:after{
                                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                                        transform: rotate(0deg);
                                    }
                                }
                            }   
                        }
                        .accordion-body{
                            .dropdown{
                                cursor: pointer;
                                .wear{
                                    border-bottom: 1px solid #B8CAD8;
                                    label{
                                        cursor: pointer;
                                        p{
                                            font-size: 14px;
                                        }
                                        span{
                                            width: 20px;
                                            height: 20px;
                                            border-radius: 5px;
                                            background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
                                            background-blend-mode: soft-light, normal;
                                            border: 1px solid rgba(255, 255, 255, 0.4);
                                            box-sizing: border-box;
                                            box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
                                        }
                                    }
                                    input{
                                        &[type=checkbox]{
                                            &:checked{
                                                &~label{
                                                    span{
                                                        &:before{
                                                            content:"";
                                                            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%231F84DE' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3E%3C/svg%3E");
                                                            width: 18px;
                                                            height: 18px;
                                                            display: block;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sec2{
        flex: 0 0 calc(100% - 550px);
        max-width: calc(100% - 550px);
        padding: 0px 10px;
        .product-machinery{
            h2{
                font-size: 20px;
                font-weight: 600;
            }
            .scroll{
                height: calc(100% - 120px);
                overflow: hidden;
                .item{
                    margin: 10px;
                    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
                    background-blend-mode: soft-light, normal;
                    box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
                    border-radius: 25px;
                    width: 130px;
                    padding: 10px;
                    cursor: pointer;
                    label{
                        cursor: pointer;
                        .image{
                            width: 65px;
                            color: #0062D7;
                            svg{
                                font-size: 56px;
                            }
                        }   
                        .text-content{
                            width: 45px;
                            span{
                                position: relative;
                                height: 35px;
                                display: block;
                                &:before{
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    width: 25px;
                                    height: 25px;
                                    border-radius: 50%;
                                    display: block;
                                    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
                                    background-blend-mode: soft-light, normal;
                                    box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
                                }
                            }
                            h3{
                                margin: 0;
                                font-size: 14px;
                                padding: 2px 0px;
                                background-color: #0062D7;
                                color: white;
                                margin-right: -9px;
                                border-bottom-left-radius: 5px;
                                border-top-left-radius: 5px;
                            }
                        }
                        h4{
                            font-size: 14px;
                            color: #0062D7;
                        }
                    }
                    input{
                        &[type = radio]{
                            &:checked {
                                &~label{
                                    .text-content{
                                        span{
                                            &:after{
                                                content:"";
                                                position: absolute;
                                                top: 3px;
                                                right: 3px;
                                                width: 18px;
                                                height: 18px;
                                                border-radius: 50%;
                                                display: block;
                                                background: #0062D7;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        .selected-content{
            width: 75%;
            margin: auto;
            .box{
                    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
                    background-blend-mode: soft-light, normal;
                    border: 1px solid rgba(255, 255, 255, 0.4);
                    box-sizing: border-box;
                    box-shadow: inset -5px -5px 10px #FAFBFF, inset 5px 5px 10px #A6ABBD;
                    border-radius: 20px;
                    p{
                        white-space: nowrap;
                        font-size: 16px;
                        &.machine-count{
                            color: royalblue;
                            flex: 0 0 75px;
                            max-width: 75px;
                            text-align: center;
                        }
                    }
                    span{
                        &.divider{
                            display: block;
                            width: 3px;
                            height: 30px;
                            border-right: 2px solid grey;
                        }
                    }
                    input{
                        &.form-control{
                            box-shadow: none;
                            background: none;
                            outline: none;
                            font-size: 14px;
                            color: #2f63d7;
                            font-weight: 500;

                        }
                        &::-webkit-inner-spin-button, ::-webkit-outer-spin-button{
                            -webkit-appearance: none;
                            margin: 0;
                        }
                        &[type=number]{
                            -moz-appearance: textfield;
                        }
                    }
            }
            .active-save-btn{
                background: #3CD070;
                box-shadow: -4px -4px 16px 2px rgba(255, 255, 255, 0.79), 4px 4px 16px #B8CAD8;
                border-radius: 5px;
                border: none;
                &[disabled]{
                    background-color: silver;
                    border: none;
                    padding: 5px 15px;
                    font-size: 14px;
                }
            }
        }
        }
    }
    .sec3{
        flex: 0 0 300px;
        max-width: 300px;
        padding: 0px 10px;
        .add-machine{
            background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #EBECF0;
            background-blend-mode: soft-light, normal;
            box-shadow: -10px -10px 50px #FFFFFF, 10px 10px 40px #A6ABBD;
            border-radius: 20px;
            h2{
                font-size: 20px;
                font-weight: 600;
                color: #0062D7;
            }
            ul{
                li{
                    list-style-type: none;
                    .main{
                        p{
                            color: #0062D7;
                        }
                    }
                    .sub{
                        span{
                            color: grey;
                            font-size: 14px;
                            margin-right: 10px;
                            position: relative;
                            &:last-child{
                                &:before{
                                    content: none;
                                }
                            }
                            &:before{
                                content: "";
                                position: absolute;
                                width: 1.5px;
                                background-color: grey;
                                height: 16px;
                                right: -6px;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                            }
                        }
                    }
                }
            }
            .active-btn{
                border-radius: 5px;
                background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #0062D7;
                background-blend-mode: soft-light, normal;
                border: 1px solid rgba(255, 255, 255, 0.4);
                box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
                &[disabled]{
                    font-size: 14px;
                    padding: 5px 15px;
                    background-color: silver;
                    border: none;
                }
            }
            .active-btn-save{
                background: #3CD070;
                box-shadow: -4px -4px 16px 2px rgba(255, 255, 255, 0.79), 4px 4px 16px #B8CAD8;
                border-radius: 5px;
                border: none;
                &[disabled]{
                    font-size: 14px;
                    padding: 5px 15px;
                    background-color: silver;
                    border: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1400px){
    .capacity {
        .sec2{
            .product-machinery{
                .selected-content{
                    width: 100%;
                    .box{
                        p{
                            font-size: 14px;;
                        }
                    }
                }
            }
        }
    }
}


.capacity .modal-lg{
    max-width:55vw;
}
.capacity  .modal-content {
      /* background: linear-gradient(
          135.37deg,
          rgba(0, 0, 0, 0.4) 4.29%,
          rgba(255, 255, 255, 0.4) 95.6%
        ),
        rgba(235, 236, 240, 0.7); */
      background-color: #e6e7eb;
      background-blend-mode: soft-light, normal;
      border: 1px solid rgba(255, 255, 255, 0.4);
      box-sizing: border-box;
      box-shadow: 8px 4px 14px rgb(0 0 0 / 11%), inset 6px 5px 35px rgb(255 255 255 / 60%);
      backdrop-filter: blur(12px);
      /* Note: backdrop-filter has minimal browser support */
      border-radius: 35px;
      /* height: 70vh; */
}
    
.capacity{
    &.modal-backdrop{
        background-color: rgba(184, 202, 216, 0.7);
        backdrop-filter: blur(21px);
        opacity: unset;
    }
}
.capacity .modal-header {
      border-bottom: 0px;
}
    
    
.capacity  .modal-header .btn-close {
      position: absolute;
      top: -30px;
      right: 0px;
      outline: none;
      box-shadow: none;
}
    
    
.capacity  .modal-header .btn-close:active {
      box-shadow: none;
      outline: none;
}
    
    
.capacity  .modal-body {
      /* text-align: center; */
      /* justify-content: center; */
      padding: 0px 40px;
}
    
.capacity  .modal-body .header_discription  {
       /* position: relative; */
       display: flex;
}
.capacity  .modal-body .header_discription .info-icon{
         font-size: 22px;
         color: #0068E5;
}
.capacity .modal-body .header_discription p{
    font-size: 11px;
    font-weight: 500;
    color: #0068E5;
    margin: 3px 0 0 6px;
}
.capacity .modal-body .discription{
    font-size: 16px;
    color: #0068E5;
    /* margin-left: 28px; */
}


.scrollbar-container {
    position: relative;
    height:65vh !important;
    margin:0px 0px 20px 0px;
    padding-right: 20px;
    overflow-x: hidden;
}
.capacity .linenum1 h3{
    font-size: 18px;
    font-weight: 600;
    color: #1a68e5;
    margin-bottom: 13px;
}
.capacity .linenum1 {
    padding: 20px;    
    
}
.capacity .ml-30{
    margin-left: 30px;
}
.capacity .back-color {
    padding: 20px;    
    background: #dddedf;
}
.capacity ul{
    color: rgba(0, 98, 215, 1);
    padding-left: 0;

}
.capacity ul li{
    list-style: none;    
    margin: 4px 0px 0 20px;
    font-size: 14px;
}
.capacity ul.totalcal li{
    padding: 10px;
}
.capacity ul.totalcal span{
    font-weight: 500;
}
.capacity ul li.active{
    background: #d7d7d7;
    margin-top: 11px;
}
.float-right{
    float: right;
}
.capacity .total{
    background: rgba(0, 98, 215, 1);
    color: white;
    padding: 11px;
}
.capacity .total p{
    margin: 0;
    margin-left: 8px;
}
.w-40{
    width: 40%;
}
