/* ######################################### */
/* category */
/* ######################################### */
.category_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* margin: 20px 0px 20px 0px; */
}

.category_container {
  background: rgba(225, 228, 234, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 40px;
  margin: 0px 100px;
 
}
.choose_category_head {
  padding-left: 160px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.choose_category_head h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  /*line-height: 45px;*/
  color: #566180;
}

.category_section {
  display: flex;
  /*margin: 0px 0px 20px 0px;*/
  margin: 0px 50px;

  /*justify-content: center;*/
  align-content: center;
  flex-direction: column;
  height: 500px;
  overflow: auto;
}
.category_section::-webkit-scrollbar {
  width: 6px;
  background-color: #f8bbd0;
}
.category_section::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px #e9edf0;
  background-color: lightgrey;
  border-left: 2px solid #e9eaef;
  border-right: 2px solid #e9edf0; */


  background: #E1E4EA;
  box-shadow: inset -4px -4px 9px 2px rgba(255, 255, 255, 0.8), inset 4px 4px 4px #AAB3C5;
  border-radius: 30px;
}
.category_section::-webkit-scrollbar-thumb {
  background: #E1E4EA;
  box-shadow: -4px -4px 16px 2px rgba(255, 255, 255, 0.8), 4px 4px 16px #AAB3C5, inset -4px -4px 16px rgba(255, 255, 255, 0.5), inset 4px 4px 8px rgba(170, 179, 197, 0.25);
  border-radius: 20px;
}
.category_item_section {
  display: flex;
  /* justify-content: center; */
  justify-content: flex-start;
  padding-left: 130px;

}
.category_item {
  width: 275px;
  height: 200px;
  margin: 25px;

  background: linear-gradient(
      135.37deg,
      rgba(0, 0, 0, 0.4) 4.29%,
      rgba(255, 255, 255, 0.4) 95.6%
    ),
    #ebecf0;
  /* background-blend-mode: soft-light, normal; */
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}
.category_item_text {
  position: absolute;
  color: black;
  z-index: 9999999999;
  background: rgba(255, 255, 255, 0.9);
  opacity: 1;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 12px 22px;
  height: 75px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.category_item_text h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 115.5%;
  color: #0067e5;
  /* or 21px */

  color: #0067e5;
}
.category_item_text p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 122%;
  /* or 15px */
  color: #566180;
}

.category_item_img1 {
  background-image: url("../assets/categoryImage/1.png");
}
.category_item_img2 {
  background-image: url("../assets/categoryImage/2.png");
}
.category_item_img3 {
  background-image: url("../assets/categoryImage/3.png");
}
.category_item_img4 {
  background-image: url("../assets/categoryImage/4.png");
}
.category_item_img5 {
  background-image: url("../assets/categoryImage/5.png");
}
.category_item_img6 {
  background-image: url("../assets/categoryImage/6.png");
}

.category_item_radio {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 15px;
  top: 15px;

  background: linear-gradient(
      317.7deg,
      rgba(0, 0, 0, 0.4) 195.53%,
      rgba(255, 255, 255, 0.4) 300.71%
    ),
    #ebecf0;
  background-blend-mode: soft-light, normal;
  box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category_item_radio input[type="radio"] {
  display: none;
}
.category_item_radio label {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  padding-right: 32px;
  width: 30px;
  height: 30px;
}
.category_item_radio label:nth-last-child(1) {
  padding-right: 0;
}
.category_item_radio label::before {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 15px;
  top: 15px;

  background: linear-gradient(
      317.7deg,
      rgba(0, 0, 0, 0.4) 195.53%,
      rgba(255, 255, 255, 0.4) 300.71%
    ),
    #ebecf0;
  background-blend-mode: soft-light, normal;
  box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
  border-radius: 40px;
}
.category_item_radio label::after {
  content: "";
  display: inline-block;
  /* position: absolute; */
  width: 30px;
  height: 30px;
  background: rgba(122, 122, 122, 0);
  /* left: 3.9px; */
  /* top: -14.4px; */
  margin: 0px 0px;
  margin-left: 0;
  border-radius: 50%;

  transition: all 0.2s;
}
.category_item input[type="radio"]:checked + label::after {
  background: rgb(0, 98, 215);
}

.category_btn_section {
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  flex-direction: column;
  padding: 0px 100px;
  width: 100%;
  height: 70px;
}
.category_btn {
  /* width: 1246px; */
  display: flex;
  justify-content: space-between;
}
.category_next_btn1 {
  position: relative;
  cursor: pointer;
  width: 130px;
  height: 45px;
  background: linear-gradient(
      135.37deg,
      rgba(0, 0, 0, 0.4) 4.29%,
      rgba(255, 255, 255, 0.4) 95.6%
    ),
    #0062d7;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  border-radius: 15px;
  margin-right: 25px;
}
.category_next_btn1 span {
  padding: 5px 0px 0px 50px;
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 37px;
  text-align: right;
  color: #ffffff;
}
.category_next_btn2 {
  position: relative;
  cursor: pointer;
  width: 130px;
  height: 45px;

  background: linear-gradient(
      135.37deg,
      rgba(0, 0, 0, 0.4) 4.29%,
      rgba(255, 255, 255, 0.4) 95.6%
    ),
    #0062d7;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  border-radius: 15px;
}
.category_next_btn2 span {
  padding: 5px 0px 0px 25px;
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 37px;
  text-align: left;
  color: #ffffff;
}

.category_BsChevronRight {
  position: absolute;
  font-size: 22px;
  top: 11px;
  right: 18px;
  font-weight: 500;
  color: #ffffff;
}
.category_BsChevronLeft {
  position: absolute;
  font-size: 22px;
  top: 11px;
  left: 18px;
  font-weight: 500;
  color: #ffffff;
}

@media only screen and (max-width: 1100px) {
  .category_item_section {
    display: flex;
    /* justify-content: center; */
    justify-content: flex-start;
     padding-left: 50px;
  
  }
  .choose_category_head {
    padding-left: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .category_section {
    display: flex;
    /* margin: 0px 0px 20px 0px; */
    margin: 0px 50px;
    /* justify-content: center; */
    align-content: center;
    flex-direction: column;
    height: 400px;
    overflow: auto;
}
 
}
/* ######################################### */
/*category*/
/* ######################################### */
