

.bg-img-sec {
  background-image: url(../assets/Manufacturer-BG1\ 1.jpg);
  /* background-size: 100vh; */
  background-position: center;
  background-size: cover;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.header-section {
  padding: 134px 89px 0px 89px;
}
.manu-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  /* font-size: 50px; */
  font-size: 3vw;
  line-height: 75px;
  text-transform: uppercase;
  color: #566180;
}

.manu-discription {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #566180;

  margin-top: 50px;
}

.register-card {
  position: absolute;
  width: auto;
  height: auto;
  right: 150px;
  top: auto;
  background: linear-gradient( 
135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6% ), #ebecf0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  border-radius: 40px;
  padding: 50px;
}

.register-card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #566180;
}

.register-input {
  background: linear-gradient( 
317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18% ), #ebecf0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
  border-radius: 40px;
  width: auto;
  height: auto;
  outline: none;
  padding-left: 55px;
  letter-spacing: -0.408px;
  color: #0067E5;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
}

.register-input::placeholder{
  font-family: "Poppins";
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 35px;
color: #ACAAC2;
}

.input-with-icon {
  position: relative;
  margin-top: 25px;
  align-items: baseline;
}

.input-with-icon .input-icon {
  position: absolute;
  top: 12.5px;
  left: 20px;
  color: #ACAAC2;
  font-size: 17px;
}

.input-with-icon .showpassword{
  position: absolute;
  top: 12.5px;
  right:20px;
  color: #ACAAC2;
  /* padding-left: 15px; */
  font-size: 17px;
} 


/*.form-check{
  margin-top: 20px;
  padding-left:10px;
}*/


.register-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.login-button {
  background: linear-gradient(
      135.37deg,
      rgba(0, 0, 0, 0.4) 4.29%,
      rgba(255, 255, 255, 0.4) 95.6%
    ),
    #ebecf0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  border-radius: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #0062d7;
  /* padding: 8px 15px; */
  width: 120px;
/* height: 50px; */
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.signin-button-parent{
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0px;
  box-shadow: none;
}
.signin-button-parent:hover, .signin-button-parent:focus, .signin-button-parent:active{
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}
.signin-button-parent:active:focus{
  box-shadow: none;
}
.signin-button {
  background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #0062D7;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  border-radius: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  padding:6px 15px;
  width: 120px;
/* height: 50px; */

  /* margin-left: 50px; */
  display: flex;
justify-content: center;
align-items: center;
cursor: pointer;

}

.remember .form-check-input {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-color: #0062D7;
  margin-left: -4px;
}

.remember .form-check-input:checked {
  background-color: #0062D7;
  border: 1px solid #0062D7;
}

.remember .form-check-input:focus {
  border-color: #0062D7;
  box-shadow: unset;
}


.remember .form-check-label {
  font-size: 14px;
  color: #0062D7;
  margin-top: 4px;
  margin-left: 6px;
  -webkit-user-select: none;
  user-select: none;
}

.required-mark{
  color: #ff0808;
}
.input-field-container{
  position: relative;
}

.validation-error {
  color: #ff0808;
  position: absolute;
  font-size: 12px;
  right: 20px;
  bottom: -17px;
}

/* .scrollbar-container{ */
      /* height: 450px; */
      /* overflow-x: hidden; */
      /* overflow-y: scroll; */
      /* margin: 0px 20px 40px 20px; */
/* } */





