

.bg-img-sec {
  background-image: url(../assets/Manufacturer-BG1\ 1.jpg);
  /* background-size: 100vh; */
  background-position: center;
  background-size: cover;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.header-section {
  padding: 134px 89px 0px 89px;
}
.manu-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  /* font-size: 50px; */
  font-size: 3vw;
  line-height: 75px;
  text-transform: uppercase;
  color: #566180;
}

.manu-discription {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #566180;

  margin-top: 50px;
}

.register-card {
  position: absolute;
  width: auto;
  height: auto;
  right: 150px;
  top: auto;
  background: linear-gradient( 
135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6% ), #ebecf0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  border-radius: 40px;
  padding: 50px;
}

.register-card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #566180;
}

.register-input {
  background: linear-gradient( 
317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18% ), #ebecf0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
  border-radius: 40px;
  width: auto;
  height: auto;
  outline: none;
  padding-left: 55px;
  letter-spacing: -0.408px;
  color: #0067E5;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
}

.register-input::placeholder{
  font-family: "Poppins";
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 35px;
color: #ACAAC2;
}

.input-with-icon {
  position: relative;
  margin-top: 25px;
  align-items: baseline;
}

.input-with-icon .input-icon {
  position: absolute;
  top: 12.5px;
  left: 20px;
  color: #ACAAC2;
  font-size: 17px;
}

.input-with-icon .showpassword{
  position: absolute;
  top: 12.5px;
  right:20px;
  color: #ACAAC2;
  /* padding-left: 15px; */
  font-size: 17px;
} 


/*.form-check{
  margin-top: 20px;
  padding-left:10px;
}*/


.register-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.login-button {
  background: linear-gradient(
      135.37deg,
      rgba(0, 0, 0, 0.4) 4.29%,
      rgba(255, 255, 255, 0.4) 95.6%
    ),
    #ebecf0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  border-radius: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #0062d7;
  /* padding: 8px 15px; */
  width: 120px;
/* height: 50px; */
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.signin-button {
  background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #0062D7;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  border-radius: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  padding:6px 15px;
  width: 120px;
/* height: 50px; */

  /* margin-left: 50px; */
  display: flex;
justify-content: center;
align-items: center;
cursor: pointer;

}

.remember-me input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;

}
.remember-me label{
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #0062d7;
}

.remember-me input[type=checkbox] {
  display: none;
}

.remember-me input[type=checkbox] + label:before {
  content: "\2714";
  border: 2px solid #0062D7;
  border-radius: 0.3em;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 14px;
  padding-left:2px;
  margin-right: 10px;
  color: transparent;
  transition: 0.5s;
  vertical-align: middle;
  justify-content: center;
}

.remember-me input[type=checkbox] + label:active:before {
  transform: scale(0);
}

.remember-me input[type=checkbox]:checked + label:before {
  background-color: #0062D7;
  border-color: #0062D7;
  color: #fff;
}

.remember-me input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

.remember-me input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}



.required-mark{
  color: #ff0808;
}
.input-field-container{
  position: relative;
}

.validation-error {
  color: #ff0808;
  position: absolute;
  font-size: 12px;
  right: 20px;
  bottom: -17px;
}






