.leftmenu{
    flex: 0 0 350px;
    max-width: 350px;
}
.rightmenu{
    flex: 0 0 calc(100% - 350px);
    max-width: calc(100% - 350px);
}
.leftmenu h4{
    color: #0068E5;
}
.machine_input .form-control{
    height: 40px;
        padding: 0px 15px;
        background-color: transparent;
        border-radius: 40px;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
        outline: none;
}
.machine_input input:focus{
        box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
        border: unset;
        outline: none;
}
.box{
    background: linear-gradient(
        317.7deg
        , rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
            background-blend-mode: soft-light, normal;
            border: 1px solid rgba(255, 255, 255, 0.4);
            box-sizing: border-box;
            box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
            border-radius: 40px;
            width: 100%;
            height: 640px;
            outline: none;
            padding-left: 55px;
            position: relative;
}
.facility img{
    width: 16px;
    margin-left: 30px;
    align-items: baseline;
}
.facility{
    margin-bottom: 20px;
}
.facility p {
    margin-left: 10px;
    margin-bottom: 0;
    margin-right: 10px;
}
.form-control{
    height: 40px;
    width: 300px;
    padding: 0px 15px;
    background-color: transparent;
    border-radius: 40px !important;
    background: linear-gradient(
317.7deg
, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
    outline: none;
}
.leftmenu .submit{
    background-color: #3CD070;
    color: #fff;
    border: transparent;
    border-radius: 8px;
}
.leftmenu .submit button:hover{
    background-color: #3CD070 !important;
    color: #fff;
}

.iot_switch{
    display: flex;
}
.iot_switch p{
    margin-right: 5px;
}
.reset_switch{
    margin: 135px 0 0 0px;
    border: 1px solid rgba(255, 255, 255, 0.4);
box-sizing: border-box;
box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
border-radius: 8px;
}

.machine_items{
    margin: 10px;
    background: linear-gradient(
135.37deg
, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
    background-blend-mode: soft-light, normal;
    box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
    border-radius: 25px;
    width: 130px;
    padding: 10px;
    justify-content: space-between;
}
.plusIcon{
    margin-top: 150px !important;
}
.plusIcon p{
    margin: 12px 7px 0 15px;
    font-size: 15px;
    color: #0068E5;
}
.plusIcon img{
    padding: 4px;
border: 1px solid rgba(255, 255, 255, 0.4);
box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px;
border-radius: 50%;
}
.machine_items h3{
    margin: 0;
    font-size: 14px;
    padding: 2px 0px;
    background-color: #0062D7;
    color: white;
    margin-right: -9px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 50px;
    height: 20px;
    text-align: center;
}
.machine_image{
    justify-content: space-between;
    margin-top: 10px;
}
.machine_items p{
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
}
.machine_items_text{
    margin-top: 25px;
    margin-left: 15px;
    color: #0062D7;
}
.summary{
    position: absolute;
    top: 30px;
    right: 50px;
}
.summary a{
    box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
border-radius: 8px;
}
.summary svg{
    width: 23px;
    height: 30px;
}
.bottom_text{
    bottom: 40px;
}
.bottom_text h6{
    margin-left: 10px;  
    margin-bottom: 0;
    color: #0068E5;
    font-size: 12px;
    margin-top: 5px;
}
.btn-next{
    background-color: #0068E5;
    padding: 0px 10px;
    color: white;
    border-radius: 6px;
    box-shadow: none;
    margin-left: 500px;        
}
.btn-next:disabled{
    background-color: silver;
}
/* Model */
.machine .modal-lg{
    max-width: 70vw;
}

.modal-header{
    border-bottom: none;
}
.modal-content{
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
background-blend-mode: soft-light, normal;
box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
border-radius: 20px;
}
.machine .modal-header .btn-close {
    position: absolute;
    top: -30px;
    right: 0px;
    outline: none;
    box-shadow: none;
}
.machine  .modal-header .btn-close:active {
    box-shadow: none;
    outline: none;
}
.machine  .modal-body {
    padding: 0px 40px;
    height: 500px;
}
.machine  .modal-body .header_discription .info-icon{
    font-size: 22px;
    color: #0068E5;
}
.machine .modal-body .header_discription p{
    font-size: 11px;
    font-weight: 500;
    color: #0068E5;
    margin: 3px 0 0 6px;
}

