
/* ######################################### */
/* Manufacturertypes */
/* ######################################### */

.Manufacturertypes_category{
height:100vh;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;

}
.Manufacturertypes_category_body {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */

  /* margin: 50px 150px 50px 150px; */
}
.Manufacturertypes_category_container {
  width: 1246px;
  /* height: 100vh; */
 

  background: rgba(225, 228, 234, 0.5);
  backdrop-filter: blur(4px);

  border-radius: 40px;
}
.Manufacturertypes_choose_category_head {
  padding-left: 300px;
  padding-top: 20px;
}
.Manufacturertypes_choose_category_head h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #566180;
}
.Manufacturertypes_category_section {
  display: flex;
  margin: 0px 0px 20px 0px;
  padding: 2  0px 0px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.Manufacturertypes_category_item_section {
  display: flex;
  justify-content: center;
}
.Manufacturertypes_category_item {
  width: 240px;
  height: 185px;
  margin: 30px;

  background: linear-gradient(
      135.37deg,
      rgba(0, 0, 0, 0.4) 4.29%,
      rgba(255, 255, 255, 0.4) 95.6%
    ),
    #ebecf0;
  background-blend-mode: soft-light, normal;
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  border-radius: 30px;
  position: relative;
}
.Manufacturertypes_category_item img {
  /* Width :140px;
  Height :150px;   */
  padding-left: 35px;
  padding-top: 20px;
  color: #0062d7;
}
.Manufacturertypes_category_item h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 115.5%;
  padding-left: 35px;
  padding-top: 30px;
  /* or 21px */

  color: #0062d7;
}

.Manufacturertypes_category_item_radio {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 43.85px;
  height: 43.85px;
  background: linear-gradient(
      317.7deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 105.18%
    ),
    #ebecf0;
  background-blend-mode: soft-light, normal;
  box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
  border-radius: 40px;
}
.Manufacturertypes_category_item_radio input[type="radio"] {
  display: none;
}
.Manufacturertypes_category_item_radio label {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  padding-right: 32px;
}
.Manufacturertypes_category_item_radio label:nth-last-child(1) {
  padding-right: 0;
}
.Manufacturertypes_category_item_radio label::before {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 15px;
  top: 15px;

  background: linear-gradient(
      317.7deg,
      rgba(0, 0, 0, 0.4) 195.53%,
      rgba(255, 255, 255, 0.4) 300.71%
    ),
    #ebecf0;
  background-blend-mode: soft-light, normal;
  box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
  border-radius: 40px;
}
.Manufacturertypes_category_item_radio label::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgba(122, 122, 122, 0);
  left: 7px;
  top: -10px;
  margin: 0px 0px;
  margin-left: 0;
  border-radius: 50%;

  transition: all 0.2s;
}
.Manufacturertypes_category_item_radio
  input[type="radio"]:checked
  + label::after {
  background: rgb(0, 98, 215);
}


.Manufacturertypes_category_btn_section {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  margin: 20px 150px 10px 150px;
}
.Manufacturertypes_category_btn {
  width: 1246px;
  display: flex;
  justify-content: space-between;
}
.Manufacturertypes_category_next_btn1 {
  position: relative;
  cursor: pointer;
  width: 130px;
  height: 45px;
  background: linear-gradient(
      135.37deg,
      rgba(0, 0, 0, 0.4) 4.29%,
      rgba(255, 255, 255, 0.4) 95.6%
    ),
    #0062d7;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  border-radius: 15px;
}
.Manufacturertypes_category_next_btn1 span {
  padding: 5px 0px 0px 55px;
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
  text-align: right;
  color: #ffffff;
}
.Manufacturertypes_category_next_btn2 {
  position: relative;
  cursor: pointer;
  width: 130px;
  height: 45px;
  background: linear-gradient(
      135.37deg,
      rgba(0, 0, 0, 0.4) 4.29%,
      rgba(255, 255, 255, 0.4) 95.6%
    ),
    #0062d7;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  border-radius: 15px;
}
.Manufacturertypes_category_next_btn2 span {
  padding: 5px 0px 0px 25px;
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
  text-align: left;
  color: #ffffff;
}
.Manufacturertypes_category_BsChevronRight {
  position: absolute;
  font-size: 22px;
  top: 11px;
  right: 18px;  
  font-weight: 500;
  color: #ffffff;
}
.Manufacturertypes_category_BsChevronLeft {
  position: absolute;
  font-size: 22px;
  top: 11px;
  left: 18px;
  font-weight: 500;
  color: #ffffff;
}
/* Responsive  */
/* @media screen and (max-width: 1582px) {
  .Manufacturertypes_category_item_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
}
@media screen and (max-width: 675px) {
  .category_body {
    margin: 0px 0px 40px 0px;
}
.choose_category_head {
  padding-left: 50px;
  padding-top: 50px;
}
.category_next_btn {
  display: flex;
  justify-content: end;
  position: relative;
  padding-right: 10px;
}
} */

/* ######################################### */
/* Manufacturertypes */
/* ######################################### */