
.productconfiguration_body{
  width: 100%;
  height: calc(100% - 60px);
  background: #ebecf0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd;
  border-radius: 30px;
  overflow: hidden;
}
.productconfiguration_container {
  width: 100%;
}
.productconfigutation_head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0px;
}
.productconfigutation_head h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0px;
  line-height: 45px;
  text-align: center;
  color: #566180;
}
.productconfigutation_info_section {
  display: flex;
  padding: 15px 250px;
}
.productconfigutation_info_details {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding-left: 10px;
  text-align: left;
  color: #0062d7;
}
.info-icon {
  font-size: 20px;
  color: #0062d7;
  align-items: flex-start;
}
.productconfigutation_productlist {
  height: calc(100% - 75px - 58px);
  margin: 0px 40px;
  padding-left: 30px;
  overflow: auto;

}

.productconfigutation_productlist::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f8bbd0;
}
.productconfigutation_productlist::-webkit-scrollbar-track {
  background: #e1e4ea;
  box-shadow: inset -4px -4px 9px 2px rgba(255, 255, 255, 0.8),
    inset 4px 4px 4px #aab3c5;
  border-radius: 30px;
}
.productconfigutation_productlist::-webkit-scrollbar-thumb {
  background: #e1e4ea;
  box-shadow: -4px -4px 16px 2px rgba(255, 255, 255, 0.8), 4px 4px 16px #aab3c5,
    inset -4px -4px 16px rgba(255, 255, 255, 0.5),
    inset 4px 4px 8px rgba(170, 179, 197, 0.25);
  border-radius: 20px;
}
.productconfigutation_product_title h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 115.5%;
  margin-bottom: 0px;
  /* or 32px */
  color: #566180;
}
.productconfigutation_product {
  display: flex;
}
.productconfigutation_product_field {
  display: flex;
  margin: 30px 0px 30px 0px;
}
.productconfigutation_product_field .product_field {
  width: 250px;
  height: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 0px 20px 0px 0px;
  justify-content: space-between;
  background: linear-gradient(
      135.37deg,
      rgba(0, 0, 0, 0.4) 4.29%,
      rgba(255, 255, 255, 0.4) 95.6%
    ),
    #ebecf0;
  background-blend-mode: soft-light, normal;
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  border-radius: 31px;
  position: relative;
}
.product_field_item {
  margin: 0px 0px 0px 5px;
}
.product_field_item img {
  padding: 0px 5px 0px 20px;
}
.product_field_item span {
  padding: 0px 0px 0px 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 115.5%;
  color: #566180;
}
.productconfigutation_product_field label .product_field_circle {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 15px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      317.7deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 105.18%
    ),
    #ebecf0;
  background-blend-mode: soft-light, normal;
  box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
  border-radius: 40px;
}
.productconfigutation_button {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.productconfigutation_button .next_btn {
  margin: 10px 50px 0px 0px;
}
.product_field_circle input[type="radio"] {
  display: none;
}
.product_field_circle label {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  padding-right: 32px;
  width: 25px;
  height: 25px;
}
.product_field_circle label:nth-last-child(1) {
  padding-right: 0;
}
.product_field_circle .product_fieldlabel::before {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 15px;
  top: 15px;

  background: linear-gradient(
      317.7deg,
      rgba(0, 0, 0, 0.4) 195.53%,
      rgba(255, 255, 255, 0.4) 300.71%
    ),
    #ebecf0;
  background-blend-mode: soft-light, normal;
  box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
  border-radius: 40px;
}
.product_field_circle label::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: rgba(122, 122, 122, 0);
  margin: 0px 0px;
  margin-left: 0;
  border-radius: 50%;
  transition: all 0.1s;
}
.product_field_circle input[type="radio"]:checked + label::after {
  background: rgb(0, 98, 215);
}
