.email-verified-bg {
    height: 100vh;
    width: 100vw;
    background-position: right;
    background-repeat: no-repeat;
    /* background: linear-gradient(180deg, #C2C0BD 0%, #C3BFBC 5.83%, #C3BFBC 13.8%, #C4C0BD 19.17%, #C3C0BD 25.74%, #C2BEBB 31.48%, #C0BCB9 39.17%, #BFBBB8 47.13%, #BBB7B4 57.78%, #B8B4B1 68.24%, #B5B1AE 81.53%, #AEAAA7 89.26%, #A8A39F 100%); */
}
.email-verified-image {
    /* background-image: url("../assets/emailverifiedbackground.jpg"); */
    height: 100vh;
    width: 100vw;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}



.block-1{
    flex: 0 0 250px;
    max-width: 250px;
    .sewing{
        color: #0068E5;
        font-size: 22px;
        font-weight: 600;
    }
    .garments{
        background-color: transparent;
        border-radius: 50px;
        box-shadow: 0px 0px 5px grey;
        padding: 5px 10px;
        label{
            &.text{
                svg{
                    font-size: 20px;
                    color: #0068E5;
                }
                color: #0068E5;
            }
            &.gar-con{
                .checkmark{
                    width: 30px;
                    height: 30px;
                    display: block;
                    position: relative;
                    &:before{
                        content: '';
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                    }
                    &:after{
                        content: '';
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: #0068E5;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                    }
                }
            }
        }
    }
    .sub-categories{
        height: calc(100% - 140px);
        ul{
            li{
                border-bottom: 1px solid #B8CAD8 ;
            }
        }
        .accordion {
            .accordion-item{
                background-color: transparent;
                border: none;
                button{
                    &.complete{
                        &.accordion-button{
                            background-color: #0068e5;
                            color: white;
                        }
                        &:after{
                            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
                        }
                        &:not(.collapsed){
                            &:after{
                                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
                            }
                        }
                    }
                }
                button{
                    &.accordion-button{
                        background: rgba(184, 202, 216, 0.15);
                        padding: 10px;
                        color: #566180;
                        box-shadow: none;
                    }
                    &:after{
                        background-image: none;
                    }
                    &:not(.collapsed){
                        &:after{
                            background-image: none;
                        }
                    }
                }
                .accordion-body {
                    padding: 0px;
                    ul{
                        &.sub-cat{
                            padding-left: 12px;
                            li{
                                list-style-type: none;
                                padding: 5px 10px;
                            }
                        }
                    }
                }
            }
            .active {
                color: #fff;
                background: #0068E5
            }
        }

    }
}
.block-2{
    flex: 0 0 calc(100% - 250px);
    max-width: calc(100% - 250px);
    .box{
        background-blend-mode: soft-light, normal;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
        box-shadow: -5px -5px 10px #FAFBFF, inset 5px 5px 10px #A6ABBD;
        border-radius: 20px;
        p{
            font-size: 22px;
            font-weight: 500;
        }
        .select-category{
            height: calc(100% - 135px);
            &.empty{
                height: calc(100% - 70px);                
            }
            .category{
                .form-tag{
                    label{
                        border-bottom: 1px solid #B8CAD8;
                        span{
                            font-size: 16px;
                            font-weight: 400;
                            width: 160px;
                            &.checkmark{
                                display: block;
                                position: relative;
                                &:before{
                                    content: '';
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 5px;
                                    box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    margin: auto;
                                }
                            }
                        }
                    }
                    input{
                        &:checked{
                            &~label{
                                span{
                                    &.checkmark{
                                        &:after{
                                            content: "";
                                            width: 20px;
                                            height: 20px;
                                            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%230068E5' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3E%3C/svg%3E");
                                            top: 0;
                                            right: 0;
                                            bottom: 0;
                                            margin: auto;
                                            background-repeat: no-repeat;
                                            position: absolute;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    input{
                        &[type=radio]{
                            &:checked{
                                &~label{
                                    span{
                                        &.checkmark{
                                            &:after{
                                                content: "";
                                                width: 20px;
                                                height: 20px;
                                                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%230068E5' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3E%3C/svg%3E");
                                                top: 0;
                                                right: 0;
                                                bottom: 0;
                                                margin: auto;
                                                background-repeat: no-repeat;
                                                position: absolute;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        }
        .buttons{
            .btn-back , .btn-next, .btn-summary{
                background-color: #0068E5;
                padding: 0px 10px;
                color: white;
                border-radius: 6px;
                box-shadow: none;
                &:disabled{
                    background-color: silver;
                }
            }
            .btn-default{
                box-shadow: none;
                color: white;
                padding: 3px 10px;
                border-radius: 6px;
                &.remove{
                    background-color: white;
                    color: grey;
                }
                &.save{
                    background-color: #3CD070;
                }
                &:disabled{
                    color: white;
                    background-color: silver;
                }
            }
        }
    }
}

.product_config {
    background-color: rgba(5, 5, 5, 0.096);
    .modal-lg{
        max-width:70vw;
    }
    .modal-content {
        background: linear-gradient(135.37deg,rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6% ),rgba(235, 236, 240, 0.7);
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: 8px 4px 14px rgba(0, 0, 0, 0.08),inset 6px 5px 35px rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(12px);
        border-radius: 35px;
    }
    .modal-header {
        border-bottom: 0px;
        padding: 0;
    }
    .btn-close {
        position: absolute;
        top: -30px;
        right: 0px;
        outline: none;
        box-shadow: none;
    }
    &:active {
        box-shadow: none;
        outline: none;
    }
    .modal-body {
        padding: 40px;
        .scroll{
            height: calc(100% - 100px);
        }
        .header_discription  {
            display: flex;
            .info-icon{
                font-size: 22px;
                color: #0068E5;
            }
            p{
                font-size: 16px;
                color: #0068E5;
                margin-left: 6px;
            }
        }
        .discription{
            font-size: 16px;
            color: #0068E5;
            /* margin-left: 28px; */
        }
        .cat-img-bg{
            background-color: floralwhite;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            .cat-img{
                width: 25px;
            }
        }
        .cat-name{
            font-size: 16px;
            color: #0068E5;
            margin-top: 12px;
            font-weight: 600;
        }
        .item-container{
            display: flex;
            align-items: center;
            padding-top: 10px;
        }          
        .item-img-bg{
            background-color: floralwhite;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            .item-img{
                width: 15px;
            }
        }
        .item-name-bg{
            font-size: 16px;
            color: #0068E5;
            height: 48px;
            margin-left: 15px; 
            border-bottom: 1px solid #B8CAD8;
            display: flex;
            align-items: center;
            padding: 0px;
        }
        .item-name{
            font-size: 16px;
            color: #566180;
            margin: 0%;
        }
    }
}