.cbtn {
  position: relative;
  cursor: pointer;
  width: 119px;
  height: 35px;
  background: #0068e5;
  box-shadow: -4px -4px 16px 2px rgba(255, 255, 255, 0.79), 4px 4px 16px #b8cad8;
  border-radius: 8px;
  display: flex;
  align-items: center;
  border: none;
}
.next_btn:disabled {
  background-color: silver;
}
.dbtn {
  position: relative;
  cursor: pointer;
  width: 119px;
  height: 35px;
  background: #CCCCCC;
  box-shadow: -4px -4px 16px 2px rgba(255, 255, 255, 0.79), 4px 4px 16px #b8cad8;
  border-radius: 8px;
  display: flex;
  align-items: center;
  border: none;
}
.back_btn span {
  padding: 0px 0px 0px 50px;
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.next_btn span {
  padding: 0px 0px 0px 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.back_btn_left {
  position: absolute;
  font-size: 22px;
  top: 7px;
  left: 15px;
  font-weight: 500;
  color: #ffffff;
}
.next_btn_right {
    position: absolute;
    font-size: 22px;
    top: 7px;
    right: 15px;
    font-weight: 500;
    color: #ffffff;
}
