.react-date-picker{
    .react-date-picker__wrapper{
      border: none;
      height: 40px;
      .react-date-picker__inputGroup{
        box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
        border-radius: 50px;
        width: auto;
        input{
          &.react-date-picker__inputGroup__input{
            box-shadow: none!important;
            padding: 0px 15px!important;
            background: none!important;
            border: none!important;
          }
        }
      }
      .react-date-picker__calendar-button{
          .icon{
              font-size: 20px;
              color: #2f63d7;
          }
      }
    }
    .react-date-picker__calendar{
      .react-calendar{
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
        background-blend-mode: soft-light, normal;
        box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
        border-radius: 27px;
        border: none;
        padding: 10px;
        .react-calendar__navigation{

            button{
                &:not(.react-calendar__navigation__label){
                    border-radius: 50%;
                }
                &:enabled{
                    &:hover{
                        box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
                        background-color: transparent;
                        color: #2f63d7;
                        transition: 0.4s;
                    }
                    &:focus{
                        background-color: transparent;
                    }
                }
                &:disabled{
                    background-color: transparent;
                }
            }
            .react-calendar__navigation__label{
                color: #2f63d7;
                font-size: 18px;
                font-weight: 500;
                border-radius: 10px;
                font-family: 'Poppins';
            }
        }
        .react-calendar__viewContainer{
          .react-calendar__month-view {
            .react-calendar__month-view__weekdays{
              .react-calendar__month-view__weekdays__weekday{
                abbr[title]{
                  text-decoration: none;
                  cursor: default;
                }
              }
            }
            .react-calendar__month-view__days{
              .react-calendar__tile{
                font-size: 14px;
                color: #566180;
                &.react-calendar__month-view__days__day--neighboringMonth{
                  visibility: hidden;
                  opacity: 0;
                }
                &.react-calendar__tile--now{
                  border-radius: 50%;
                  height: 47.14px;
                  background: none;
                  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
                }
                &:enabled{
                  transition: 0.5s;
                  &:hover{
                    background-color: transparent;
                    transition: 0.3s;
                    color: #0068E5;
                  }
                }
                &.react-calendar__tile--active{
                  color: white;
                  border-radius: 50%;
                  height: 47.14px;
                  background: #0068E5;
                  box-shadow: -4px -4px 16px 2px #FFFFFF, 2px 2px 13px #85A9C4;
                  &:hover{
                    background: #0068E5;
                    color: #fff;
                  }
                }
              }
            }
          }
          .react-calendar__year-view{
              .react-calendar__year-view__months{
                .react-calendar__tile{
                    font-size: 14px;
                    color: #566180;
                    padding: 15px;
                    &.react-calendar__tile--now{
                      border-radius: 10px;
                      background: none;
                      box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
                    }
                    &:enabled{
                      transition: 0.5s;
                      &:hover{
                        background-color: transparent;
                        transition: 0.3s;
                        color: #0068E5;
                      }
                    }
                    &.react-calendar__tile--hasActive{
                      color: white;
                      border-radius: 10px;
                      height: 47.14px;
                      background: #0068E5;
                      box-shadow: -4px -4px 16px 2px #FFFFFF, 2px 2px 13px #85A9C4;
                      &:hover{
                        background: #0068E5;
                        color: #fff;
                      }
                    }
                }
              }
          }
          .react-calendar__decade-view{
              .react-calendar__decade-view__years{
                .react-calendar__tile{
                    font-size: 14px;
                    color: #566180;
                    padding: 15px;
                    &.react-calendar__tile--now{
                      border-radius: 10px;
                      background: none;
                      box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
                    }
                    &:enabled{
                      transition: 0.5s;
                      &:hover{
                        background-color: transparent;
                        transition: 0.3s;
                        color: #0068E5;
                      }
                    }
                    &.react-calendar__tile--hasActive{
                      color: white;
                      border-radius: 10px;
                      height: 47.14px;
                      background: #0068E5;
                      box-shadow: -4px -4px 16px 2px #FFFFFF, 2px 2px 13px #85A9C4;
                      &:hover{
                        background: #0068E5;
                        color: #fff;
                      }
                    }
                }
            }
          }
          .react-calendar__century-view{
              .react-calendar__century-view__decades{
                .react-calendar__tile{
                    font-size: 14px;
                    color: #566180;
                    padding: 15px;
                    &.react-calendar__tile--now{
                      border-radius: 10px;
                      background: none;
                      box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
                    }
                    &:enabled{
                      transition: 0.5s;
                      &:hover{
                        background-color: transparent;
                        transition: 0.3s;
                        color: #0068E5;
                      }
                    }
                    &.react-calendar__tile--hasActive{
                      color: white;
                      border-radius: 10px;
                      height: 47.14px;
                      background: #0068E5;
                      box-shadow: -4px -4px 16px 2px #FFFFFF, 2px 2px 13px #85A9C4;
                      &:hover{
                        background: #0068E5;
                        color: #fff;
                      }
                    }
                }
              }
          }
        }
      }
    }
}