.leftmenu{
  flex: 0 0 350px;
  max-width: 350px;
}
.rightmenu{
  flex: 0 0 calc(100% - 350px);
  max-width: calc(100% - 350px);
}
.leftmenu h4{
  color: #0068E5;
}
.leftmenu_header{
  flex: 0 0 100px;
  max-height: 100px;
}
.leftmenu_body{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% - 100px);
  max-height: calc(100% - 100px);
}
.machine_input .form-control{
  height: 40px;
      padding: 0px 15px;
      background-color: transparent;
      border-radius: 40px;
      background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
      background-blend-mode: soft-light, normal;
      border: 1px solid rgba(255, 255, 255, 0.4);
      box-sizing: border-box;
      box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
      outline: none;
}
.machine_input input:focus{
      box-shadow: inset -3px -3px 10px #FAFBFF, inset 3px 3px 10px #A6ABBD;
      background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
      border: unset;
      outline: none;
}
.box{
  background: linear-gradient(
      317.7deg
      , rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
          background-blend-mode: soft-light, normal;
          border: 1px solid rgba(255, 255, 255, 0.4);
          box-sizing: border-box;
          box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
          border-radius: 40px;
          width: 100%;
          height: calc(100% - 60px);
          outline: none;
          padding-left: 55px;
          position: relative;
}

.initialpage_text p{
  margin: 0;
  opacity: 0.5;
}
.facility img{
  width: 16px;
  margin-left: 30px;
  align-items: baseline;
}
.facility{
  margin-bottom: 20px;
}
.facility p {
  margin-left: 10px;
  margin-bottom: 0;
  margin-right: 10px;
}
.form-control{
  height: 40px;
  width: 250px;
  padding: 0px 15px;
  background-color: transparent;
  border-radius: 40px !important;
  background: linear-gradient(
317.7deg
, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
  outline: none;
}
.leftmenu .submit{
  background-color: #3CD070;
  color: #fff;
  border: transparent;
  border-radius: 8px;
}
.leftmenu .submit:disabled{
  background-color: #ccc;
}
.leftmenu .submit button:hover{
  background-color: #3CD070 !important;
  color: #fff;
}

.iot_switch .form-switch input.form-check-input{
  background-image: none;
  border: none;
  position: relative;
  box-shadow: none;
  height: 10px;
  cursor: pointer;
}
.iot_switch .form-switch input.form-check-input:before{
  content: '';
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: block;
  bottom: -3px;
  position: absolute;
  background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
  background-blend-mode: soft-light, normal;
  box-shadow: -2px -3px 10px #ffffff, 5px 5px 10px #a6abbd;
}
.iot_switch .form-switch input.form-check-input:checked:before{
  right: 0;
}

.machine_items{
  margin: 10px;
  background: linear-gradient(
135.37deg
, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
  background-blend-mode: soft-light, normal;
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  border-radius: 25px;
  width: 130px;
  padding: 10px;
  justify-content: space-between;
}

.plusIcon p{
  margin: 5px 7px 0 7px;
  font-size: 15px;
}
.plusIcon svg{
  background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
  border-radius: 40px;
  width: 25px;
  height: 25px;
  opacity: 0.5;
}
.machine_items h3{
  margin: 0;
  font-size: 14px;
  padding: 2px 0px;
  background-color: #0062D7;
  color: white;
  margin-right: -9px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 50px;
  height: 20px;
  text-align: center;
}
.machine_image{
  justify-content: space-between;
  margin-top: 10px;
}
.machine_items p{
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
}
.machine_items_text{
  margin-top: 25px;
  margin-left: 15px;
  color: #0062D7;
}
/* .summary{
  position: absolute;
  top: 30px;
  right: 50px;
} */

.summary button{
  box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
border-radius: 8px;
background-color: #0068E5;
border: transparent;
}
.summary button:disabled {
  background-color: #ccc;
  border: transparent;
}
.summary button:hover {
  background-color: #0068E5;
}
.summary button:focus {
  background-color: #0068E5;
}
.summary svg{
  width: 23px;
  height: 30px;
}
.bottom_text h6{
  margin-left: 10px;  
  margin-bottom: 0;
  color: #0068E5;
  font-size: 12px;
  margin-top: 5px;
  width: 100%;
}
.exclamination svg{
  color: #0068E5;
  height: 20px;
  width: 20px;
}
.btn-next{
  background-color: #0068E5;
  padding: 0px 10px;
  color: white;
  border-radius: 6px;
  box-shadow: none;       
}
.btn-next:disabled{
  background-color: silver;
}

/* =============================================Model========================================== */
.modal{
  background: rgba(184, 202, 216, 0.3);
  backdrop-filter: blur(5px);
}
.machine .modal-lg{
  max-width: 75vw;
}

.modal-header{
  border-bottom: none;
}
.modal-content{
background-color: #e6e7eb;
background-blend-mode: soft-light, normal;
border: 1px solid rgba(255, 255, 255, 0.4);
box-sizing: border-box;
box-shadow: 8px 4px 14px rgb(0 0 0 / 11%), inset 6px 5px 35px rgb(255 255 255 / 60%);
-webkit-backdrop-filter: blur(12px);
backdrop-filter: blur(12px);
border-radius: 35px;

}
.machine .modal-header .btn-close {
  position: absolute;
  top: -30px;
  right: 0px;
  outline: none;
  box-shadow: none;
}
.machine  .modal-header .btn-close:active {
  box-shadow: none;
  outline: none;
}
.machine  .modal-body {
  padding: 0px 40px;
  height: 500px;
}
.machine  .modal-body .header_discription .info-icon{
  font-size: 22px;
  color: #0068E5;
}
.machine .modal-body .header_discription p{
  font-size: 11px;
  font-weight: 500;
  color: #0068E5;
  margin: 3px 0 0 6px;
}
.modal-body .row{
  height: 100%;
}
.model_leftmenu{
  flex: 0 0 250px;
  max-width: 250px;
}
.model_rightmenu{
  flex: 0 0 calc(100% - 250px);
  max-width: calc(100% - 250px);
}

/* first screen */
.box-field-area {
  width: 100%;
  height: calc(100% - 60px);
  background: #ebecf0;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  box-shadow: inset -5px -5px 10px #fafbff, inset 5px 5px 10px #a6abbd;
  border-radius: 30px;
  overflow: hidden;
}
.Machinery_area {
  margin: 0px 40px;
  padding-left: 0px;
  overflow: auto;
  flex-wrap: wrap;
  height: calc(100% - 91px);
}
.box-field-area .box-field-area-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #566180;
}

.Machinery_product {
  display: flex;
}
.Machinery_product_field {
  display: flex;
  margin: 30px 0px 50px 0px;
}
.Machinery_product_field .product_field {
  width: 250px;
  height: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 0px 20px 0px 0px;
  justify-content: space-between;
  background: linear-gradient(
      135.37deg,
      rgba(0, 0, 0, 0.4) 4.29%,
      rgba(255, 255, 255, 0.4) 95.6%
    ),
    #ebecf0;
  background-blend-mode: soft-light, normal;
  box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  border-radius: 31px;
  position: relative;
}
.product_field_item {
  margin: 0px 0px 0px 5px;
}
.product_field_item img {
  padding: 0px 5px 0px 20px;
}
.product_field_item .unselected {
  padding: 0px 0px 0px 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 115.5%;
  color: #566180;
}
.product_field_item .selected {
  padding: 0px 0px 0px 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 115.5%;
  color: rgb(0, 98, 215);
}

.Machinery_product_field label .product_field_circle {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 15px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      317.7deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 105.18%
    ),
    #ebecf0;
  background-blend-mode: soft-light, normal;
  box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
  border-radius: 40px;
}
.productconfigutation_button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;

  color: #0062d7;
}

.productconfigutation_button .next_btn {
  margin: 10px 50px 10px 0px;
}
.product_field_circle input[type="radio"] {
  display: none;
}
.product_field_circle label {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  padding-right: 32px;
  width: 25px;
  height: 25px;
}
.product_field_circle label:nth-last-child(1) {
  padding-right: 0;
}
.product_field_circle .product_fieldlabel::before {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 15px;
  top: 15px;

  background: linear-gradient(
      317.7deg,
      rgba(0, 0, 0, 0.4) 195.53%,
      rgba(255, 255, 255, 0.4) 300.71%
    ),
    #ebecf0;
  background-blend-mode: soft-light, normal;
  box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
  border-radius: 40px;
}
.product_field_circle label::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: rgba(122, 122, 122, 0);
  margin: 0px 0px;
  margin-left: 0;
  border-radius: 50%;
  transition: all 0.1s;
}
.product_field_circle input[type="radio"]:checked + label::after {
  background: rgb(0, 98, 215);
}
.machine .rightmenu .box .scroll{
  height: calc(100% - 120px);
}
