@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #ebecf0 !important;
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden !important;
  margin: 0px !important;
  padding: 0px !important;
}

body::-webkit-scrollbar {
  width: 6px;
  background: #e1e4ea;
  box-shadow: inset -4px -4px 9px 2px rgba(255, 255, 255, 0.8),
    inset 4px 4px 4px #aab3c5;
  border-radius: 30px;
}

body::-webkit-scrollbar-thumb {
  width: 12px;

  background: #e1e4ea;
  box-shadow: -4px -4px 16px 2px rgba(255, 255, 255, 0.8), 4px 4px 16px #aab3c5,
    inset -4px -4px 16px rgba(255, 255, 255, 0.5),
    inset 4px 4px 8px rgba(170, 179, 197, 0.25);
  border-radius: 20px;
}

a {
  text-decoration: none !important;
}

.scrollbar-container .ps__rail-y {
  right: 10px !important;
  height: 150px;
  background: #E1E4EA;
  box-shadow: inset 2px 2px 5px #B8B9BE, inset -3px -3px 7px #fff;
  border-radius: 30px;
  opacity: 1;
  width: 6px;
}

.scrollbar-container .ps__thumb-y {
  width: 11px;
  right: 0px;
  background: #E6E7EE;
  box-shadow: 2px 2px 4px #B8B9BE, -2px -2px 4px #fff;
  border-radius: 20px;
  border: 1px solid #D1D9E6;
}

.ps__rail-y:hover>.ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #E6E7EE !important;
}

.ps__rail-y:active,
.ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  transform: scale(1.2);
  transition: 0.2s;
}