.ad {
    position: relative;
    text-align: center;

    .content {
        background: rgba(255, 255, 255, 0.7);
        position: absolute;
        bottom: 0px;
        text-align: left;

        svg {
            float: right;
        }
    }
}

body .m-settings .s-sec2 {
    float: right;
    width: 96%;
}

.container {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    max-width: 100%;
}

.buttons {
    svg {
        font-size: 30px;
    }
}

.btn-back-to-events {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #EBECF0;
    background-blend-mode: soft-light, normal;
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: -10px -10px 20px #FAFBFF, 10px 10px 20px #A6ABBD;
    border-radius: 13px;
    padding: 10px 20px;

    &.active {
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #0062D7;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: -3px -3px 10px #FAFBFF, 3px 3px 10px #A6ABBD;
        color: #fff;
        font-weight: 800;
        padding-bottom: 0px;
    }
}

.img-w-100 {
    width: 92%;
}

.arrow {
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #0062D7;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: -3px -3px 10px #FAFBFF, 3px 3px 10px #A6ABBD;
    color: #fff;
    font-weight: 800;
    padding-bottom: 0px;
    border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -28px;
    left: 0px;
    right: 0px;
    margin: auto;

    svg {
        position: relative;
        top: 9px;
        left: 8px;
        font-size: 30px;
        font-weight: bold;
    }
}

.box {
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ebecf0;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: inset -3px -3px 10px #fafbff, inset 3px 3px 10px #a6abbd;
    border-radius: 40px;
    width: auto;
    height: auto;
    outline: none;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 0px ! important;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

ul li {
    text-align: center;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    padding: 12px 0px;
}

.block {
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
    background-blend-mode: soft-light, normal;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
    border-radius: 30px;
    position: relative;
    margin-left: 3% ! important;
    margin-right: 3% ! important;
}

.plan p {
    text-align: center;
    font-size: 25px;
    color: #fff;
    margin-top: 6px;
}

.platinum {
    position: absolute;
    width: 155px;
    height: 53px;
    left: 0px;
    top: 0px;
    background: #EC5AA1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 30px 30px;
    right: 0px;
    margin: auto;
}

.gold {
    position: absolute;
    width: 155px;
    height: 53px;
    left: 0px;
    top: 0px;
    background: #FF9C07;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 30px 30px;
    right: 0px;
    margin: auto;
}

.silver {
    position: absolute;
    width: 155px;
    height: 53px;
    left: 0px;
    top: 0px;
    background: #60ADF4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 30px 30px;
    right: 0px;
    margin: auto;
}

.block-1,
.block-2,
.block-3 {
    position: relative;
    width: 26.5%;
}

.list ul {
    margin-top: 57px;
    min-height: 393px;
}

.prl-0 {
    padding-left: 0px ! important;
    padding-right: 0px ! important;
}

.price {
    p {
        font-size: 36px;
        text-align: center;
    }
}

@media screen and (min-width:990px) {
    .back {
        margin-left: 25px ! important;
    }
}

@media screen and (max-width:990px) {
    .price p {
        font-size: 20px;
    }

    .btn-back-to-events {
        font-size: 14px;
    }

    .platinum,
    .gold,
    .silver {
        width: 119px;
    }
}

@media screen and (max-width:767px) {
    .plans {
        margin-left: 10px ! important
    }

    .block-1,
    .block-2,
    .block-3 {
        width: 93%;
        margin-top: 25px;
    }

    .buttons {
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: auto;
    }

    .platinum,
    .gold,
    .silver {
        width: 50%;
    }
}

@media screen and (max-width:865px) and (min-width:768px) {
    .plans .row {
        width: 100%;
    }

    .btn-back-to-events {
        font-size: 11px;
    }

    .plan p {
        font-size: 20px;
    }

    ul li {
        font-size: 12px;
    }

    .blocks-1,
    .blocks-2 {
        width: 100%;
    }
}

@media screen and (max-width:480px) {

    .block-1,
    .block-2,
    .block-3 {
        width: 92%;
    }

    .back {
        width: 54%;
        display: block;
        margin: auto;
        margin-bottom: 25px ! important;
    }

    .sponser {
        width: 38%;
        float: right ! important;
    }

    .theme {
        width: 38%;
        float: left ! important;
    }
}